<app-header></app-header>
<div class="create_adv">
  <div class="flex-container">
    <h2>
      Новое объявление
    </h2>
    <ng-form [formGroup]="createAdvForm">
      <p>Выберите категорию</p>
      <select formControlName="category">
        <option selected disabled>Нажмите, чтобы выбрать</option>
        <option *ngFor="let category of categoryList">
          {{category.name}}
        </option>
      </select>
      <p>Название объявления</p>
      <input type="text" placeholder="Что хотите продать?" formControlName="name">
      <p>Описание</p>
      <input class="description" type="text" placeholder="Расскажите подробнее о товаре или услуге" formControlName="description">
      <p>Адрес проведения сделки</p>
      <input type="text" placeholder="Начните вводить адрес" formControlName="location">
      <p>Номер телефона</p>
      <input type="text" placeholder="Введите номер телефона" formControlName="phone">
      <p></p>
      <input type="file" formControlName="img">
      <p>Цена</p>
      <input type="number" placeholder="0 $" formControlName="cost">
    </ng-form>
  </div>
</div>
