a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 179px;
  height:32px;
  border-radius: 4px;
  background-color: #3B82F6;
  text-decoration: none;

  p{
    color:white;
    font-weight:500;
  }
}
