<button (click)="showModal()">Регистрация</button>
<p-dialog header='Регистрация' [modal]="true" [resizable]="false" [(visible)]="visibleModal" [draggable]="false">
  <form [formGroup]="registrationForm" (ngSubmit)="register()">
    <input formControlName="login" type="text" placeholder="Логин">
    <input formControlName="name" type="text" placeholder="Имя">
    <input formControlName="password" type="text" placeholder="Пароль">
    <p-button label="Войти" type="submit" class="form__submit_button"
              [style]="{'width':'127px','height':'48px'}">
    </p-button>
  </form>
</p-dialog>


