<p-dialog header='Вход' [modal]="true" [resizable]="false" [draggable]="false">
  <form [formGroup]="authForm" (ngSubmit)="login()">
    <input formControlName="loginControl" type="text" placeholder="Логин">
    <div class="alert" *ngIf="authForm.controls['loginControl'].invalid && canShowAlerts">
      <p>
        Введите логин
      </p>
    </div>
    <input formControlName="passwordControl" type="text" placeholder="Пароль">
    <div class="alert" *ngIf="authForm.controls['passwordControl'].invalid && canShowAlerts">
      <p>Введи пароль</p>
    </div>
    <p-button label="Войти" type="submit" class="form__submit_button"
              [style]="{'width':'127px','height':'48px'}" (click)="canShowAlerts=true">
    </p-button>
  </form>
</p-dialog>
