<div class="advert-page">
  <div class="container">
    <div class="breadcrumbs">
      <p>Тут должны быть хлебные крошки</p>
    </div>
    <div class="advert">
      <div class="left_block">
        <h2>{{advert.name}}</h2>
        <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
                    [style]="{'width':'856px', 'height':'512px' }">
          <ng-template let-item pTemplate="item" class="advert__photo">
            <img [src]="item" alt="{{advert.name}}">
          </ng-template>
        </p-carousel>

      </div>
      <div class="right_block">
        <h3>{{advert.cost}} $</h3>
        <p>Показать номер телефона</p>
        <app-phone-number-modal [phoneNumber]="advert.phone">
        </app-phone-number-modal>
        <div class="advert__location">
          <h3>Адрес</h3>
          <p>{{advert.location}}</p>
        </div>
        <div class="advert__description">
          <h3>Описание</h3>
          <p>{{advert.description}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
