.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  app-search-input{
    width:64%
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

}
